<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="org.sv.views.machinelearning"
          name="Machine Learning"
          class="sv4guiMachineLearning"
          icon="resources/hello.png" />
  </extension>

  <extension point="org.mitk.gui.qt.datamanager.contextMenuActions">
      <contextMenuAction nodeDescriptorName="sv4guiMachineLearning" label="Machine Learning
         Context Menu" icon="" class="sv4guiMachineLearning"/>
  </extension>

</plugin>
